.game-container {
    height: 100vh;
}
.game-container .main {
    height: calc(100vh - 64px);
    background-image: url(../img/11.jpg);
    display: flex;
}
.game-container .main .aside-left {
    width: 75%;
}
.game-container .main .aside-left .content {
    width: 50%;
    margin: 6rem auto;
}
.game-container .main .aside-left .content h1 {
    color: rgb(21 31 42);
    text-transform: capitalize;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
}

.game-container .main .aside-left .content .btn-find-match button {
    background-color: rgb(21 31 42);
    color: #fff;
    padding: 20px 0;
    margin: 10px;
    margin-left: 130px;
    width: 55%;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    border-radius: 8px;
    outline: none;
    transition: 1s;
    justify-content: center;
}
.game-container .main .aside-left .content .btn-find-match button:hover {
    transition: 1s;
    background-color: #26a69a;
}
.game-container .main .aside-right {
    width: 25%;
    background-color: rgb(21 31 42);
    color: #fff;
}
.game-container .main .aside-right .title {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #fff;
}
.game-container .main .aside-right .title button {   
    padding: 10px 55px;
    font-size: 20px;
    outline: none;
    border: 0px;
    background-color: rgb(21 31 42);
    color: #26a69a;
}
.game-container .main .aside-right .title .current {   
    color: #fff;
    background-color: #1b2f44;
}
.game-container .main .aside-right .title button:hover {   
    color: #fff;
    transition: 0.9s;
    background-color: #1f2c3a;
}
.game-container .main .aside-right .info {
    display: flex;
    margin: 15px 25px;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
}
.game-container .main .aside-right .playerList .info-player {
    display: flex;
    margin: 15px 25px;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    justify-self: center;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.game-container .main .aside-right .playerList .info-player .player-and-status {
    display: flex;
}
.game-container .main .aside-right .playerList .info-player .player-and-status .status {
    width: 10px;
    height: 10px;
    background-color: #26a69a;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    right: 7rem;
}
.game-container .main .aside-right .playerList .info-player .player-and-status .name {
    max-width: 200px;
    height:40px;
    font-size: 16px;
}
.game-container .main .aside-right .playerList .info-player .btn-invite {
    border: 1px solid #dbdbdb;
    cursor: pointer;
    padding: 0 25px;
    border-radius: 5px;
    background-color: #fff;
    color: #26a69a;
}
.dropdown-item {
    cursor: pointer;
    font-size: 20px;
}
.modal {
    margin-top: 7rem;
}

@media screen and (max-width: 768px) {
    .game-container .main .aside-left {
        width: 70%;
    }
    .game-container .main .aside-left .content h1 {
        font-size: 40px;
    }
    .game-container .main .aside-left .content .btn-find-match button {
        padding: 20px 0;
        margin: 10px;
        margin-left: 16px;
        width: 90%;
        font-size: 15px;
        font-weight: 500;
    } 
    .game-container .main .aside-right {
        width: 30%;
    }
    .game-container .main .aside-right .title button {   
        padding: 10px 20px;
        font-size: 15px;
    }
    .game-container .main .aside-right .info,
    .game-container .main .aside-right .playerList .info-player {
        margin: 12px 15px;
        font-size: 11px;
    }
    .game-container .main .aside-right .playerList .info-player .btn-invite {
        padding: 0 12px;
    }
}

@media screen and (max-width: 411px){
    .game-container .main {
        height: 100vh;
        background-image: url(../img/11.jpg);
        display: block;
    }
    .game-container .main .aside-left {
        width: 100%;
    }
    .game-container .main .aside-left .content h1 {
        display: none;
    }
    .game-container .main .aside-left .content {
        width: 100%;
        margin: 20px 0;
    }
    .game-container .main .aside-left .content .btn-find-match button {
        padding: 20px 0;
        margin: 5px 20px;
        width: 90%;
        font-size: 15px;
        font-weight: 500;
    } 
    .game-container .main .aside-right {
        width: 100%;
    }
    .game-container .main .aside-right .title button {   
        padding: 10px 30px;
        font-size: 15px;
    }
    .game-container .main .aside-right .info,
    .game-container .main .aside-right .playerList .info-player {
        margin: 12px 10px;
        font-size: 15px;
    }
    .game-container .main .aside-right .playerList .info-player .btn-invite {
        padding: 0 14px;
    }
}