.home-page {
    background-image: url(../img/Untitled-2.png);
    background-size: cover;
    height: 100vh;
}
.home-page .main {
    margin: 13rem 15rem;
}
.home-page .main h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 300;
}
.main .content {
    width: 30%;
    margin-bottom: 2rem;
    color: #fff;
}

