.register-container {
  background-image: url("../img/game-icon-background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container #register-form {
  width: 450px;
  height: 600px;
  background: #fff;
}
.register-container .register-header {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
}
.register-container .name-wrapper {
  display: flex;
  justify-content: space-between;
}
.register-container #register-form .input-wrapper {
  margin: 0 20px;
  margin-bottom: 20px;
}
.register-container #register-form .input-wrapper :focus {
  outline: #0062cc;
}
.btn-register {
  width: 100%;
}
.register-container .redirect {
  margin-top: 145px;
  text-align: center;
  font-size: 13px;
  color: #999999;
}
.register-container #redirect-to-login:hover {
  transition: 0.8s;
  color: #0062cc;
}
